# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
website19.jpg
website15.jpg
jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg
jeremy-thomas-E0AHdsENmDg-unsplash.jpg
joel-filipe-Wc8k-KryEPM-unsplash.jpg
jj-ying-7JX0-bfiuxQ-unsplash.jpg
milad-fakurian-GJKx5lhwU3M-unsplash.jpg
max-ducourneau-zWQLnfMBxFI-unsplash.jpg
website24.jpg
website24.jpg
