:root{
    --primary-100: #FEFFFF;
    --primary-200: #DEF2F1;
    --primary-300: #3AAFA9;
    --primary-400: #2B7A78;
    --primary-500: #17252A;
  
}

body{
    background-color: #DEF2F1;
    margin: 0px;
    padding:0px;

}
.Navbar{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.link{
   font-size: 22px;
   text-decoration:none;
   color:#17252A;
   text-align: center;
   padding: 6px;
   /* font-family: 'Chakra Petch', sans-serif; */
   font-family: 'Alata', sans-serif;
   margin: 10px 20px;
   border-bottom: 2px solid #17252A;
}


.Home{
    display: flex;
     justify-content: space-between;
     align-items: center;
     margin : 8% 8%;
     border-radius: 10px;
}
.Myprofilepic{
    border-radius: 1000px;
    height: 300px;
    width: auto;
    border: 2px solid #17252A;
}
p{
    font-size: 23px;
    color:#17252A;
    margin:0px;
    font-family: 'El Messiri', sans-serif;
    letter-spacing: 2px;
    text-align: left;
}
span{
    font-size: 40px;
    color: #2B7A78;
    margin: 0px;
    font-family: 'El Messiri', sans-serif;
}
.bio{
    margin-left: 40px;
    font-family: 'Chakra Petch', sans-serif;
}

.loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
    font-family: 'El Messiri', sans-serif;
    color: #17252A;
    font-weight: lighter;
    font-size: 40px;
}
.DesignOneRepo{
    color:#DEF2F1;
     background-color: #17252A;
     text-transform: uppercase;
    font-family: 'El Messiri', sans-serif;
     border: 2px solid #17252A;
     border-radius: 5%;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    cursor:pointer;
    text-decoration: none;
}
.DesignAllRepo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}
.DesignAllRepoContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 150px;
  
}
.DesignAllRepoContent .Content{
    width:90%;
    font-size: 25px;
  color: #17252A;
    margin:40px;
    font-family: 'El Messiri', sans-serif;
    letter-spacing: 2px;
    text-align: justify;
}
.Description{
    background-color: #2B7A78;
    color:#FEFFFF;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Chakra Petch', sans-serif;
}
.name{
    padding: 10px;
    /* font-size: 20px; */
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Chakra Petch', sans-serif;
}
.DesignSingleRepo{
    display: flex;
    flex-direction: column;
    color: #3AAFA9;
    background-color: #17252A;
   padding:20px;
   border-radius: 10px;
    margin:  10% 150px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}
a{
    color:#3AAFA9;
    margin: 0px;
}
.displayflex{
    display: flex;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    margin:0px;
}
label{
    text-transform: uppercase;
        font-family: 'Kanit', sans-serif;
        padding: 10px;
        margin:0px;
}
h3{
    margin:0px;
}
.Error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'El Messiri', sans-serif;
    margin: 90px;

}
.Error404 h1{
    font-size: 140px;
    margin: 0px;
}
.Error404 .link{
    background-color: #17252A;
    color:#DEF2F1;
    border-radius: 5px;
    padding: 20px;
    border-bottom: none;
    text-transform: uppercase;
}
.Error404 .link:hover{
    background-color: #2B7A78;
}
.Error404 p{
    font-size: 40px;
    margin: 0px;
}
.Testingerror{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Testingerror .link{
    background-color: #17252A;
    color:#DEF2F1;
    border-radius: 5px;
    padding: 20px;
    border-bottom: none;
    text-transform: uppercase;
}
.Testingerror .link:hover{
    background-color: #2B7A78;
}

link{
    border-radius: 100px;
}


@media (min-width:481px) and (max-width:780px){
    .Home{
        flex-direction: column;
        margin: 40px 0px;
    }
    .Myprofilepic{
        margin-bottom: 30px;
    }
    p{
        margin-right:40px;
    }
}

@media (min-width:320px) and (max-width:480px){
    .Home{
        flex-direction: column;
        margin: 40px 0px;
    }
    .Myprofilepic{
        margin-bottom: 30px;
        height: 200px;
    }
    p{
        margin-right:40px;
    }
    .link{
        font-size: small;
    }
}

